/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
}

.header {
    width: 100%;
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; /* Espace entre le logo et la navigation */
}

.logo-zone {
    display: flex; 
    justify-content: center; /* Centre le logo horizontalement */
    align-items: center; /* Centre le logo verticalement */
    width: auto;  
}

#logo {
    width: 61.09px; 
    height: 19px;
    padding: 30px 0; 
}

.nav-zone {
    display: flex;
}

.top-nav {
    display: flex; 
    gap: 68px; /* Espace entre les liens */
}

.top-nav a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-top: 20px;
    border-top: 2px solid transparent;
}

.top-nav a:hover {
    color: #0065FC; 
    border-top: 2px solid #0065FC; /* Ajoute un petit trait bleu au-dessus */
}

body {
    display: flex;
    justify-content: center;
}


.main-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    margin-bottom: -7px;
}


.barre-recherche {
    display: flex;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    margin: 35px 0;
    overflow: hidden; /* Assure que les éléments restent dans le cadre arrondi */
}

.icon-container {
    width: 50px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2f2f2; /* Fond gris */
}

.icon-container i {
    color: #000; /* Icône en noir */
    font-size: 18px;
    margin: 0 20px ;
}

.barre-recherche input {
    width: 195px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: black;
    border: none;
    outline: none; /* Supprime la bordure de focus */
}

.barre-recherche button {
    width: 132px;
    background-color: #0065FC; /* Fond bleu */
    color: white;
    border: none;
    border-radius: 0 15px 15px 0; /* Coins arrondis uniquement à droite */
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barre-recherche .search-icon {
    display: none;
    color: white;
}

.filtre {
    width: 100%;
    max-width: 758px;
    height: 50px; 
    display: flex; 
    justify-content: flex-start; /* Aligner les éléments sur la gauche */
    align-items: center; 
    gap: 15px; /* Espacement entre le titre et les boutons */
}

.filtre-title {
    font-size: 18px; 
    font-weight: 700; 
    line-height: 21.13px;
    text-align: center;
}

.filtre-buttons {
    display: flex;
    width: 100%;
    height: 50px;
    gap: 15px;
}

.filtre-buttons button {
    display: flex;
    align-items: center; 
    justify-content: center; /* Centre horizontalement le contenu */
    padding: 10px 15px; /* espaces à l'interieur */
    font-size: 17px;
    line-height: 19.96px;
    font-weight: 700;
    background-color: #fff;
    border: 2px solid #d9d9d9; 
    border-radius: 25px;
    cursor: pointer;
    white-space: nowrap;
}

.filtre-buttons button:hover {
    background-color: #DEEBFF;
}

.filtre-economique {
    max-width: 173px;
    width: 100%;
}
.filtre-familial {
    max-width: 134px;
    width: 100%; 
}
.filtre-romantique {
    max-width: 170px;
    width: 100%;
}
.filtre-pepites {
    max-width: 167px;
    width: 100%;
}

.icon {
    font-size: 22px; /* Définit la taille de l'icône */
    width: 22px;
    height: 22px;
    margin-right: 8px; /* Ajoute un espace après l'icône */
}


.info-logement {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    margin: 35px 0;
    display: flex;
    align-items: center;
}

.info-icon {
    width: 24px; /* Taille du cercle autour de l'icône */
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC; /* Couleur du "i" */
    border-radius: 50%; /* Forme circulaire */
    font-size: 12px;
    border: 1px solid #D9D9D9; /* Bordure grise */
    margin-right: 6px; /* Espace minimal avec le texte */
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    margin-bottom: 30px;
}


.hebergements-cards a {
    width: 32%; /* Ajuste la taille des cartes pour qu'elles s'adaptent mieux */
    box-sizing: border-box;
    }

    
.hebergements-cards .row { /* on va disposer ca en 2 lignes de 3 cartes*/
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.hebergements-cards img {
    max-width: 250.33px;
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0 0; /* Bordure uniquement en haut */
}

.hebergements-cards .card-content {
    padding: 5px 10px; /* Réduire le padding pour minimiser l'espace */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Ajuste l'espacement entre les éléments du contenu */
    /*width: 100%;*/
    width: auto;
}

.hebergements-cards .card-title {
    font-size: 16px; /* Ajuste la taille du titre si nécessaire */
    margin: 0;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}


.hebergements-footer {
    width: 100%; /* Utilise 100% pour être responsive */
    height: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: left;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites {
    max-width: 1340px; 
    width: 100%;
    height: auto; 
    padding: 40px 0;
}
.activites-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    padding-left: 20px; /* Décale le titre vers la droite */
}

.activites-gallery {
    display: flex; 
    justify-content: space-between; /* Répartir les cartes de manière égale avec un espacement */
    align-items: center; 
    padding: 20px;
}


.activites-card {
    width: 22.89%;  
    height: 439px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1); 
    overflow: hidden; /* Empêche que le contenu dépasse de la carte */
    background-color: #fff; /* Fond de la carte */
    display: flex;
    flex-direction:column; /* Pour disposer les éléments (photo et titre) en colonne */
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
}

.activites-card img {
    width: 100%; 
    height: 380px; 
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activites-title-container {
    width: 100%; 
    height: 59px; 
    padding: 20px 19px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px;
    border-radius: 0 0 20px 20px; /* Coins arrondis en bas */
    background-color: #fff; 
}

.activites-name {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 20px 19px;
}


footer {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 1440px; 
    margin: 0 auto; /* Centrer le footer */
}

.footer-container {
    display: flex;
}

.footer-section {
    flex: 1;
    margin: 0 20px ;
    gap: 15px;
}

.section-titles {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin: 15px 0;
}

.footer-section a:hover {
    color: #007BFF;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .recherche {
        height: 322px;
        margin-bottom: 35px;
    }
    
    .filtre{
        max-width: 668px;
        width: 100%;
        height: auto;
        flex-wrap: wrap; /*le titre filtre passe au dessus des boutons*/
        gap: 20px;
    }

    .filtre-title {
        margin: 0;
    }
    
    .filtre-economique { width: 167px; }
    .filtre-familial { width: 131px; }
    .filtre-romantique { width: 164px; }
    .filtre-pepites { width: 161px; }
    
    

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .row {
        max-width: 864px;
        width: 100%;
        height: 207.25px;
        gap: 30px; /* Augmente l'écart dans chaque ligne pour tablette */
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards img {
        max-width: 268px;
    }

    .populaires {
        width: 100%;
        height: 252px;
        margin-top: 50px;
    }

    .populaires-title {
        padding-bottom: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card {
        margin-top: 0;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        max-width: 924px;
        width: 100%;
        height: 390px;
        padding: 30px; 
        box-sizing: border-box;
    }

    .activites-title {
        padding: 0;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .activites-gallery {
        max-width: 864px;
        width: 100%;
        height: auto; 
        display: flex;
        gap: 30px; 
        justify-content: flex-start;
        padding: 0;
    }

    .activites-card {
        width: 193px;
        height: 270px;
    }

    .activites-card img {
        width: 100%; 
        height: 200px; 
        object-fit: cover;
    }


    .activites-name {
        height: 11%;
        gap: 10px;
    }

    .footer-container {
        height: 163px;
        margin-top: 30px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    .header {
        width: 100%;
        height: 115px;
        flex-direction: column; /* Empile logo et navigation */
        align-items: center;
        justify-content: normal;
        margin-bottom: 30px;
    }

    .nav-zone{
        /*max-width: 375px;*/
        width: 100%;
        height: 31.3%;
        justify-content: center;
        border-bottom: 2px solid #f2f2f2; /* Ligne grise */
        padding-bottom: 15px;
        position: relative;
    }

    .top-nav a::after {
        content: "";
        position: absolute;
        bottom: -2px; /* Place la ligne juste sous le texte */
        left: 0;
        width: 0; /* Invisible par défaut */
        height: 2px;
        background-color: #0065FC; /* Couleur bleue */
      }

      .top-nav a:first-child:hover::after {
        /* Pour "Hébergements"  */
        width: 50%; /* Bleue sur la moitié gauche */
      }
      
      .top-nav a:last-child:hover::after {
        /* Pour "Activités" */
        left: 50%;
        width: 50%; /* Bleue sur la moitié droite */
      }
      

    .top-nav {
        gap: 120px;
        align-items: center
    }

    .top-nav a {
        padding: 0;
    }

    .top-nav a:hover {
        border-top: 2px solid #fff;
    }
    
    .recherche {
        height: 432px;
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 0 20px;
    }

    .main-title {
        margin-top: 0;
    }

    .titles .subtitle {
        margin-bottom: 0;
    }

    .barre-recherche {
        max-width: 335px;
        height: 49px;
        margin: 35px 0;
    }

    .barre-recherche input {
        max-width: 236px;
        width: 100%;
        height: auto;
    }

    .barre-recherche button {
        width: 50px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .barre-recherche .search-text {
        display: none; /*rend le texte invisible*/
    }

    .barre-recherche .search-icon {
        display: block; /*rend l'icon visible*/
    }

    .filtre {
        width: 100%; 
        max-width: 335px;
        height: 161px; 
        flex-direction: column; 
        align-items: flex-start; /* Aligne les éléments à gauche */
        gap: 19px;
        margin-bottom: 35px;
    }

    .info-logement {
        margin: 0;
    }

    .filtre-title {
        margin: 0; /* Espace sous le titre */
    }

    .filtre-buttons {
        display: grid; /*affichage en grille*/
        grid-template-columns: repeat(2, 1fr);/*Crée une grille de 2 colonnes de largeur égale*/
        width: 335px;
        height: 120px;
        gap: 20px 10px;
    }

    .filtre-buttons button {
        height: 50px;
        margin: 0;
        max-width: 162.5px; 
        width: 100%;
    }


    .hebergements-and-populaires {
       flex-direction: column-reverse; /*en 1er populaires puis hébergements*/
       height: auto;
    }
    

    .hebergements {
        background-color: white !important; /* Ajoute un fond blanc en priorité */
        width: auto;
        height: auto;
        padding: 20px !important;
        gap: 15px;
        margin-bottom: 35px;
    }

    .hebergements-title {
        margin-bottom: 15px;
    }

    .hebergements-cards {
        flex-direction: column;
        gap: 15px;
        height: 1318.5px;
    }
    

    .hebergements-cards .row {
        flex-direction: column;
        height: auto;
        gap: 15px;
        margin-bottom: 15px;
    }

    .hebergements-cards a {
        width: 100%;
        height: 207.25px;
        gap: 4px;
    }

    .hebergements-cards img {
        max-width: 100%;
        height: 124px;
    }

    .hebergements-footer {
        margin-top: 15px;
    }

    .populaires {
        height: 569px;
        border-radius: 0% !important;
        padding: 30px 20px !important;
        gap: 15px;
        margin-top: 0;
    }

    .populaires-title {
        padding-bottom: 15px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }

    .populaires-cards .card {
        margin: 0;
    }

    .populaires-cards a {
        width: 100%;
        height: 146px;
    }

    .populaires-cards img {
        width: 111.67px;
        height: 146px;
    }

    .populaires-cards .card-content {
        padding: 10px 5px 5px 15px;
    }


    .activites {
        width: 100%;
        height: 965.02px;
    }

    .activites-gallery {
        width: 100%;
        height: 845px;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap; /* Permet de passer à la ligne pour les cartes si nécessaire */
    }

    .activites-card {
        width: 100%;
        height: 200px;
    }

    .activites-card img {
        height: 141px;
    }

    .activites-name {
        display: flex;
        width: auto;
        height: 59px;
    }

    .footer-section{
        margin: 10px 0 10px 20px;
        flex: 0;
    }

    .footer-container {
        flex-direction: column;
        height: 461px;
    }

}